<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Culture Compass Quiz</title>
</head>
<body>
    <h1>{{ question.question }}</h1>

    <form method="post">
        {% for nome in question.question_corresp %}
            <label>{{ nome }}</label>
            <select name="resposta">
                <option value="">Selecione...</option>
                {% for option in question.options %}
                    <option value="{{ option }}">{{ option }}</option>
                {% endfor %}
            </select>
            <br>
        {% endfor %}
        <button type="submit">Submit Answer</button>
    </form>
</body>
</html>

